<br><br>
<div class="container">
      <div class="row text-center text-lg-left">
        <div class="col-md-3" style="padding:20px;">
          <div class="">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/335x515" alt="">
            </a>
          </div>
          <a href="#" class="product-name" style="text-align:center;">Category Name</a>
        </div>
        <div class="col-md-3" style="padding:20px;">
          <div class="">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/335x515" alt="">
            </a>
          </div>
          <a href="#" class="product-name" style="text-align:center;">Category Name</a>
        </div>
        <div class="col-md-3" style="padding:20px;">
          <div class="">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/335x515" alt="">
            </a>
          </div>
          <a href="#" class="product-name" style="text-align:center;">Category Name</a>
        </div>
        <div class="col-md-3" style="padding:20px;">
          <div class="">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/335x515" alt="">
            </a>
          </div>
          <a href="#" class="product-name" style="text-align:center;">Category Name</a>
        </div>
        <div class="col-md-3" style="padding:20px;">
          <div class="">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="http://placehold.it/335x515" alt="">
            </a>
          </div>
          <a href="#" class="product-name" style="text-align:center;">Category Name</a>
        </div>
      </div>

    </div>
